<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Untis+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Untis+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon3D</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3D</string>
				</array>
			</dict>
			<key>IconChrom</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconChrom</string>
				</array>
			</dict>
			<key>IconGalaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGalaxy</string>
				</array>
			</dict>
			<key>IconGradient</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGradient</string>
				</array>
			</dict>
			<key>IconMarmor</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconMarmor</string>
				</array>
			</dict>
			<key>IconPaper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconPaper</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon3D</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3D</string>
				</array>
			</dict>
			<key>IconChrom</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconChrom</string>
				</array>
			</dict>
			<key>IconGalaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGalaxy</string>
				</array>
			</dict>
			<key>IconGradient</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGradient</string>
				</array>
			</dict>
			<key>IconMarmor</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconMarmor</string>
				</array>
			</dict>
			<key>IconPaper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconPaper</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ninocss.untisplus.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>untisplus</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ninocss.untisplus.alarmRefresh</string>
		<string>untis_school_notification_update</string>
		<string>untis_progressive_boundary_refresh</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
